.analyze-days-per-week,
.analyze-weight {
  color: $curious-blue;

  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.analyze-days-per-week {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $alto;
}

.analyze-days-per-week-label,
.analyze-weight-label {
  color: $silver-chalice;

  font-size: 20px;
}
