.exercise {
  font-size: 20px;
}

.exercise-header {
  margin-bottom: 5px;

  .icon-pencil {
    width: 17px;
    height: 17px;

    fill: $silver-chalice;
  }
}

.exercise-muscle-groups {
  display: flex;
  flex-wrap: wrap;
}

.exercise-muscle-group {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 2px 10px;
  border: 1px solid $curious-blue;
  border-radius: 8px;

  font-size: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.exercise-variation {
  color: $silver-chalice;

  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.exercise-description {
  color: $silver-chalice;

  font-size: 13px;
}

.exercise-duration {
  margin-left: 10px;
  font-size: 14px;
}

.exercise-sets {
  margin-top: 40px;

  h4 {
    color: $silver-chalice;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.exercise-set {
  display: flex;
  align-items: center;

  margin-top: 10px;
}

.exercise-set-number {
  margin-right: 10px;
  padding: 3px 8px;
  border: 1px solid $silver-chalice;
  border-radius: 50%;
  color: $silver-chalice;

  font-size: 14px;
  font-weight: bold;
}

.exercise-set-details {
  display: flex;
}

.exercise-metric:first-child {
  margin-right: 10px;
}

.exercise-add-set {
  display: flex;

  margin-top: 20px;
}
