.workouts {
  display: flex;
}

.workouts-numbers {
  margin: 0 40px 0 -15px;
}

.workouts-number,
.workout-add-exercise {
  padding: 10px 15px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  border: 1px solid $alto;
  border-top: none;
  border-left: none;

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    border-top: 1px solid $alto;
  }
}

.workouts-number-selected {
  background-color: $curious-blue;
  color: $white;
}

.workout-add-exercise {
  display: block;
}
