.add-weight-form {
  .form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .form-label {
    margin: 10px 0 0;
    color: $silver-chalice;

    text-transform: uppercase;
  }

  .input {
    width: 60%;
    border: none;
    border-bottom: 1px solid $alto;

    font-size: 40px;
    text-align: center;
  }

  .form-submit {
    margin-top: 40px;

    .button {
      position: relative;

      width: 40px;
      height: 40px;
      padding: 0;
      border: 1px solid $alto;
      border-radius: 50%;
    }

    .icon-checkmark {
      width: 20px;
      height: 20px;
    }
  }
}
