.add-weight-form {
  .form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .form-label {
    margin-top: 10px;
    color: $silver-chalice;

    text-transform: uppercase;
  }

  .input {
    width: 60%;
    border: none;
    border-bottom: 1px solid $alto;

    font-size: 60px;
    text-align: center;
  }

  .form-submit {
    margin-top: 40px;

    text-align: center;

    .button {
      width: 200px;
      height: 50px;

      text-transform: uppercase;
    }
  }
}
