.add-set-form {
  .form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .form-label {
    margin: 10px 0 0;
    color: $silver-chalice;

    text-transform: uppercase;
  }

  .input {
    width: 60%;
    border: none;
    border-bottom: 1px solid $alto;

    font-size: 60px;
    text-align: center;
  }

  .select {
    position: absolute;
    right: 0;

    width: auto;
    border: none;
    outline: none;
    color: $silver-chalice;

    font-size: 20px;
    font-weight: bold;
  }

  .form-submit {
    margin-top: 40px;

    text-align: center;

    .button {
      width: 200px;
      height: 50px;

      text-transform: uppercase;
    }
  }
}

.add-set-form-group {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
