.add-exercise-form {
  /* .form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  } */

  /* .form-label {
    margin: 10px 0 0;
    color: $silver-chalice;

    text-transform: uppercase;
  } */

  /* .input {
    width: 60%;
    border: none;
    border-bottom: 1px solid $alto;

    font-size: 60px;
    text-align: center;
  } */

  .form-submit {
    margin-top: 40px;

    .button {
      position: relative;

      width: 40px;
      height: 40px;
      padding: 0;
      border: 1px solid $alto;
      border-radius: 50%;
    }

    .icon-checkmark {
      width: 20px;
      height: 20px;
    }
  }
}

.add-exercise-form-tabs {
  display: flex;

  margin-bottom: 20px;
  border-bottom: 1px solid $alto;
}

.add-exercise-form-tab {
  width: 75px;
  margin-bottom: -2px;
  padding: 10px 0;
  color: inherit;

  text-align: center;
}

.add-exercise-form-tab-active {
  border-bottom: 2px solid $curious-blue;
  color: $curious-blue;
}

.add-exercise-form-new-exercise {
  .input {
    width: 100%;

    font-size: 14px;
    text-align: left;
  }
}

.add-exercise-form-change-fields-link {
  display: block;

  padding: 10px 0;

  text-align: center;
}
