// Colors. Color names from: http://chir.ag/projects/name-that-color
$alto: #ddd;
$curious-blue: #1698ea;
$kelp: #4b4c3e;
$shark: #212529;
$white: #fff;

// Fonts.
$font-face: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$base-line-height: 1.42857;

// Breakpoints and sizing.
$max-width: 800px;
$screen-xs-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1024px;
$screen-lg-min: 1230px;
$screen-lg-max: 1366px;
$form-section-spacing: 20px;
$mobile-form-section-spacing: 30px;
$mobile-padding: 15px;

// Theme variables.
$theme-error: #d20202;

// Specific shared styles.
$modal-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .21);

// z-index values
$zindex-modal: 2000;
