.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 12px;
}

.form-validation-message {
  margin-top: 5px;
  color: $theme-error;

  font-size: 11px;
}

.form-group-hint {
  margin: 5px 0 0;
  color: $silver-chalice;

  font-size: 11px;
}
