.exercise-type-select-options {
  .select-input-menu-option {
    padding: 15px 10px;

    font-size: 15px;
  }
}

.exercise-type-select-option-variation {
  color: $silver-chalice;

  font-size: 13px;
}

.exercise-type-select-options-none {
  padding: 0 10px;
}
